<nav class="navbar-container">
    <div class="section-dropdown-container">
        <div class="dropdown-container">
            <div class="dropdown-icon">
                <div class="dropdown"></div>
                <div class="dropdown"></div>
                <div class="dropdown"></div>
            </div>
            <div class="dropdown-content-container">
                <div class="selection-button-container">
                    <a class="select-style" href="/discord" target="_blank">
                        <img style="height: 20px;width: auto;margin: 11px 3px 0 0;" src="/discord-icon.png" alt="discord-icon"/>
                        <div class="dropdown-content" style="color: black;margin-left: 3px;margin-right: 3px;justify-content: center;">Join Our Discord</div><br>
                    </a>
                    <a class="select-style" href="/profile">
                        <img style="height: 20px;width: auto;margin: 11px 3px 0 0;" src="/profile-icon-vector.png" alt="profile-icon-vector">
                        <div class="dropdown-content" style="color: black;margin-left: 5px;margin-right: 3px;justify-content: center;">Profile</div>
                    </a>
                    <a class="select-style" href="/">
                        <svg style="margin-top: 13px;margin-bottom:13px;" xmlns="http://www.w3.org/2000/svg" width="15" height="15" fill="currentColor" class="bi bi-house-door-fill" viewBox="0 0 16 16">
                            <path d="M6.5 14.5v-3.505c0-.245.25-.495.5-.495h2c.25 0 .5.25.5.5v3.5a.5.5 0 0 0 .5.5h4a.5.5 0 0 0 .5-.5v-7a.5.5 0 0 0-.146-.354L13 5.793V2.5a.5.5 0 0 0-.5-.5h-1a.5.5 0 0 0-.5.5v1.293L8.354 1.146a.5.5 0 0 0-.708 0l-6 6A.5.5 0 0 0 1.5 7.5v7a.5.5 0 0 0 .5.5h4a.5.5 0 0 0 .5-.5z"/>
                        </svg>
                        <div class="dropdown-content" style="color: black;margin-left: 15px;margin-right: 3px;justify-content: center;">Home</div>
                    </a>
                </div>
            </div>
        </div>
    </div>
    <div class="button-container">
        <a class="button-page" href="/faq">FAQ</a>
        <a class="button-page" href="/teams">Teams</a>
        <a class="button-page" href="/partners">Partners</a>
    </div>
    <%if(req.session.user){%>
        <a href="/logout">
            <button class="btn btn-success">
                <i class="bi bi-box-arrow-right"></i>
            </button>
        </a>
    <%}else{%>
        <a href="/login">
            <button class="btn btn-success">
                Login
            </button>
        </a>
    <%}%>
</nav>
<style>
    a {
        cursor: pointer;
        transition: all 0.2s;
        text-decoration: none;
        color: white;
    }

    a:hover {
        color: wheat;
    }

    .navbar-container {
        background-color: #291515;
        display: flex;
        justify-content: space-between;
        padding: 20px;
        transition: all 0.2s;
    }

    .button-page {
        font-size: 20px;
        padding: 5px;
    }

    .dropdown-container {
        position: relative;
        display: inline;
        margin: 0;
    }

    .dropdown-icon {
        cursor: pointer;
    }

    .dropdown {
        height: 5px;
        width: 30px;
        background-color: white;
        margin-top: 5px;
    }

    .dropdown-content-container {
        display: none;
        position: absolute;
        padding-top: 20px;
        min-width: 160px;
        transition: all 0.2s;
    }

    .selection-button-container {
        background-color: wheat;
        box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
        z-index: 1;
        font-size: 15px;
    }

    .select-style {
        display: flex;
        padding: 5px;
    }

    .select-style:hover {
        background-color: lightcoral;
    }

    .dropdown-content {
        padding-top: 10px;
        padding-bottom: 10px;
    }

    .dropdown-content a:hover {background-color: wheat;}
    .dropdown-container:hover .dropdown-content-container {display: block;}

    @media only screen and (max-width: 600px) {
        .button-page {
            font-size: 15px;
            padding: 3px;
        }

        .contact-button {
            font-size: 10px;
            border-style: none;
            border-radius: 5px;
            height: 30px;
            width: auto;
        }
    }
</style>